<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @option.name %>
</p>

<% if @option.parent_option %>
<p>
  <strong>Parent:</strong>
  <%= link_to @option.parent_option.name, @option.parent_option %>
</p>
<% end %>

<strong>Children:</strong>
<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Children</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @option.child_options.each do |option| %>
      <tr>
        <td><%= option.name %></td>
        <td><%= link_to option.child_options.count, option %></td>
        <td>
          <%= link_to 'Show', option, class: "ui button" %>
          <%= link_to 'Edit', edit_option_path(option), class: "ui primary button" %>
          <%= link_to 'Destroy', option, method: :delete, class: "ui red button", data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
